
.chessboard {
  width: 524px;
  height: 300px;
  /* border: 25px solid #333; */
}

.square{
  float: left;
  width: 100px;
  height: 100px;
  text-align:center;
  display: table-cell;
  /* vertical-align:middle; */
}

.black {
  background-color: var(--blue);
}
.white {
  background-color: #CBFFFB;
}

img{
  margin: 20px;
}

.circle{
  float: none;
  font-size:40px;
  color: var(--blue);
  border: 2px solid var(--blue);
  /* padding-top: 20px; */
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.true-btn:hover {
  color: #fff;
  background-color: #198754;
  border-color: #198754;
}

.false-btn:hover {
  color: #fff;
    background-color: #ff021c;
    border-color: #ff021c;
}

/* drop list style */
/* .box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
} */

.box select {
  background-color: #fff;
  /* color: white; */
  padding: 12px;
  width: 250px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box::before {
  content: "\f13a";
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
  padding: 30px;
}
